{% extends "base.html" %}

{% block title %}Anonimizacja – ConfideAI{% endblock %}

{% block content %}
<div class="text-center" style="margin-bottom:1rem;">
  <lottie-player
    src="/static/animations/anon.json"
    background="transparent"
    speed="1"
    style="width:80px; height:80px; margin:auto;"
    loop autoplay>
  </lottie-player>
</div>

  <section class="section" data-aos="fade-up">
    <h1>Anonimizacja obrazu</h1>

    <form action="/anonymize" method="post" enctype="multipart/form-data" class="form-group" data-aos="fade-up">
      <div>
        <input type="file" name="file" id="file-input" required>
        <label for="file-input">Wybierz obraz do anonimizacji</label>
      </div>

      <button type="submit" class="btn" style="margin-top:1rem;">
        Anonimizuj
      </button>
    </form>
  </section>
{% endblock %}
