{% extends "base.html" %}

{% block title %}OCR – ConfideAI{% endblock %}

{% block content %}
  <section class="section" data-aos="fade-up">
    <h1>OCR obrazu</h1>

    <form action="/ocr" method="post" enctype="multipart/form-data" data-aos="fade-up">
      <div class="form-group">
        <input type="file" name="file" id="ocr-file-input" required>
        <label for="ocr-file-input">Wybierz obraz</label>
      </div>

      <button type="submit" class="btn">Analizuj</button>
    </form>
  </section>
{% endblock %}
